body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: var(--bg-page);
}
    
.search-container {
  flex: 1;        
  display: flex;
  justify-content: center;
  align-items: center;
}
    
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: auto;
  background: var(--bg-container);
  text-align: center;
  padding: 0.5rem 0;
  box-shadow: 0 -1px 5px rgba(0,0,0,0.1);
}